{% extends 'layout.html' %}

{% block content %}
    <div class="row">
        <div class="span8 offset2">
            <a href="/">&larr; Домой</a><br />
            <hr />
        </div>
    </div>

    <div class="row">
        <div class="span8 offset2">
            <h1 align="center"> Ой. 500 </h1>
            <p class="lead">У нас что-то сломалось, извини. Скоро мы это починим.</p>
            <p align='center'><img align="center" src="/static/img/500err.png"></p>
            <p align="center">Попробуй вернуться<a href="/"> назад.</a></p>
        </div>
    </div>
{% endblock %}
