{% extends 'layout.html' %}
{% block content %}

<h2 align='center'>Немного о проекте</h2>
<p align="center"><a href="/">&larr; Домой</a></p>
<p align='center'>GusinaWeb Text - небольшой блокнот, работающий как с PlainText, так и с Markdown Language.</p>
<p align='center'>Чтобы воспользоваться им, необходимо создать файл в формате .md, с разметкой или без, вставить картинки. После этого запись появится в блоке "Недавние посты". Кроме того, можно посчитать количество символов в блоге и узнать, уместилась бы ваша запись в твиттере или нет.</p>
{% endblock %}