{% extends 'layout.html' %}
{% block content %}

        <h2 class="lead">Gusina Family Projects</h2>
        <p align="center"><a href="/">&larr; Домой</a></p>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Status</th>
                  <th>Description</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Gusina Text Analyser</td>
                  <td>Обработанный корпус текстов из интернет - газеты BRIANSK.RU </td>
                  <td>Done</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Gusina Wiki Frequency List</td>
                  <td>Частотный словарь, сформированный на основе дампа википедии</td>
                  <td>Done</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Gusina Web Text</td>
                  <td>Блокнот с возможностью обработки markdown-файлов</td>
                  <td>In progress</td>
                </tr>
                </tbody>
                </table>
       </div>
{% endblock %}